<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rabbitjun</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <a href="/" class="blog-name">RabbitJun</a>
        </div>
        <hr> <!-- 전체 너비의 선 -->
    </header>
    <div class="container sidebar-content">
        {% include sidebar.html %}
        <div class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>
